body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background: #333;
  position: relative;
}

.page {
  position: absolute;
  width: 100%;
  padding: 0 20px 40px 20px;
}

#page1 {
  right: 0;
}

#page2, #page3, #page4, #page5 {
  right: -100vw;
  display: none;
}

#smartwatches {
  background: #fff;
  color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  z-index: 3;
}

#smartwatch-count {
  height: 40px;
  line-height: 40px;
  float: left;
}

#smartwatch-arrow {
  float: right;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
}

#smartwatch-content {
  display: none;
  height: 75vh;
  overflow-y: auto;
  padding: 0 0 20px 0;
}

#smartwatch-top-bar {
  cursor: pointer;
}

#social-bar {
  width: 100%;
  height: 40px;
  background: #fff;
  position: fixed;
  bottom: 0;
  z-index: 4;
  display: none;
  color: #fff;
  font-size: 16px;
  
  .row {
    margin: 0 -1px !important;
  }
  
  .col-xs-4 {
    padding: 0 1px 0 0 !important;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    height: 40px;
    text-align: center;
    line-height: 40px;
    display: block;
    width: 100%;
    
    &:hover {
      text-decoration: none;
    }
  }
}

@media (min-width: 768px) {
  #social-bar {
    font-size: 18px;
  }
}

.gplus-button {
  background-color: #e93f2e;
  &:hover {
    background-color: darken(#e93f2e, 10%);
  }
}

.facebook-button {
  background-color: #306199;
  &:hover {
    background-color: darken(#306199, 10%);
  }
}

.twitter-button {
  background-color: #26c4f1;
  &:hover {
    background-color: darken(#26c4f1, 10%);
  }
}

.touch-target {
  padding: 10px;
  margin: -10px;
}

.button-margin {
  margin-top: 40px;
}

.logo {
  margin: 50px 0 50px 0;
  max-width: 100%;
}

.smartwatch-box {
  box-sizing: border-box;
  color: #fff;
  background: #333;
  padding: 20px;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-origin: content-box;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  position: relative;
  z-index: 5;
  display: block;
}

.smartwatch-box::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: .5;
}

.smartwatch-box:hover, .smartwatch-box:active, .smartwatch-box:focus{
  text-decoration: none;
  color: #fff;
  background-color: #CD2400;
}

.smartwatch-box:hover .orange, .smartwatch-box:active .orange, .smartwatch-box:focus .orange {
  color: #fff;
}

.smartwatch-box:hover::before, .smartwatch-box:active::before, .smartwatch-box:focus::before {
  background-color: #54180C;
}

.orange {
  color: #f05f40;
}


.smartwatch-box img {
  max-width: 100%;
  max-height: 200px;
}

header .header-content .header-content-inner h1 {
  font-size: 22px;
}

header .header-content {
  padding-top: 10px !important;
}

@media (min-width: 768px) {
  header .header-content .header-content-inner h1 {
    font-size: 27px;
  } 
  
  header .header-content {
    padding-top: 25px !important;
  } 
}

@media (min-width: 992px) {
  header .header-content .header-content-inner h1 {
    font-size: 31px;
  }  
  header .header-content {
    padding-top: 40px !important;
  }
}

@media (min-width: 1200px) {
  header .header-content .header-content-inner h1 {
    font-size: 36px;
  }  
  header .header-content {
    padding-top: 50px !important;
  }
}

.navbar-header {
  width: 100%;
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.display-table {
  display: table;
}

#start-over {
  display: none;
  transition: none;
  margin-right: -15px;
}

@media (min-width: 768px) {
  #start-over {
    margin-right: 0;
  }
}

button:focus {
    outline: none !important;
}

.slider-text {
  margin-top: 40px;  
  font-size: 20px !important;
}

.ui-slider-handle {
  outline: none;
}

/* radio */

.funkyradio div {
  clear: both;
  /*margin: 0 50px;*/
  overflow: hidden;
}

.funkyradio label {
  min-width: 400px;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty, .funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label, .funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 2em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before, .funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before, .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label, .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="radio"]:checked ~ label:before, .funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: 0;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:checked ~ label, .funkyradio input[type="checkbox"]:checked ~ label {
  /*color: #777;*/
  border-color: #f05f40;
}

.funkyradio input[type="radio"]:focus ~ label:before, .funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before, .funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before, .funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before, .funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #f05f40;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before, .funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before, .funkyradio-warning input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before, .funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
}

/* slider */

.slider {
  max-width: 400px;
  margin: 0 auto;
}

@media (max-width: 440px) {
  .slider {
    max-width: 100%;
  }
  .funkyradio label {
    min-width: 100%;
  }
}

/* Loading */

.fa-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}